doctype html
head
    meta(name='description' content='Hivecard Manager')
    meta(name='keywords' content='IT, Studying, University, DHBW')
    meta(name='author' content='Adrian Hillebrand, Finn Rehnert, Gabriel Wuwer')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='/homepage/assets/css/style.css' type='text/css' rel='stylesheet')
    link(rel='icon' type='image/png' href='/homepage/assets/img/user.png')
    script(src='https://kit.fontawesome.com/3eaa4b2c6f.js' crossorigin='anonymous')
    title User Profile
.sidebar
    .title
        h1= username
    ul
        li.hover(onclick="location.href='/home';")
            i.fa-brands.fa-wpforms
            span Cards
        li(onclick="location.href='/map';")
            i.fa-solid.fa-clipboard-check
            span Hives
        li(onclick="location.href='/todo';")
            i.fa-solid.fa-pen
            span ToDo
.main

    .header
        .nav
            h1 Beeportal
            .account
                .img-case
                    img(src='/homepage/assets/img/user.png' alt='')
                button(onclick="location.href='/Logout';")
                    i.fa-solid.fa-power-off
    .content
        .cards

            .card
                .box
                    #MyClockDisplay.clock(onload='showTime()')
            .card
                .box
                    h1 2020
                    h3 Member Since
                .icon-case
                    i.fa-solid.fa-calendar-days
            .card
                .box
                    h1 124 kg
                    h3 Yield Honey
                .icon-case
                    i.fa-solid.fa-jar
            .card
                .box
                    h1 Munich
                    h3 Located in
                .icon-case
                    i.fa-solid.fa-location-dot
            script(src="/homepage/assets/js/clock.js")
            .card
                .embed
                    iframe(width='210' height='120' name='CW1' style='border:1px solid;border-radius:10px;border-color:transparent;' src='https://api.wetteronline.de/wetterwidget?gid=10866&modeid=CW1&seourl=muenchen&locationname=München&lang=de')
        .cards
            each stockcard in stockcards
                .card
                    .box
                        .embed
                            h3 Stockkarte
                            form(role='form' method='POST' action='/addCard')
                                ul
                                    li
                                        label(for='name') Name
                                        br
                                        input#name.form-control(type='input' name='Namen' value= stockcard.Namen)
                                    li
                                        label(for='koenigin') Koenigin
                                        br
                                        input#koenigin.form-control(type='input' name='Koenigin' value= stockcard.Koenigin)
                                    li
                                        label(for='volk') Volksstärke
                                        br
                                        input#volk.form-control(type='input' name='Staerke' value= stockcard.Staerke)
                                    li
                                        label(for='futter') Futter (kg)
                                        br
                                        input#futter.form-control(type='input' name='Futter' value= stockcard.Futter)
                                    li
                                        label(for='honig_ent') Honig Entnommen (kg)
                                        br
                                        input#honig_ent.form-control(type='input' name='HonigEntnommen' value= stockcard.HonigEntnommen)
                                    li
                                        label(for='wabensitz') Wabensitz
                                        br
                                        input#wabensitz.form-control(type='input' name='Wabensitz' value= stockcard.Wabensitz)
                                        input(type="hidden" name="StockId" value= stockcard.StockId)
                                button.btn(type="submit" name="sub") Save
                            form(role='form' method='POST' action='/delCard')
                                input(type="hidden" name="StockId" value= stockcard.StockId)
                                button(type="submit" name="remove") Delete
    button(onclick="location.href='/addCard';").float
        i.fa-solid.fa-plus
